.link_lista{
    margin: 10px;
}
.tecnologias_container{
    background-color: var(--claro);
}
.tecnologias_content{
    max-width: 1200px;
    margin: auto;
    padding: 150px 30px;
}
.titulo{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-family: 'Archivo Black';   
}
.tecnologias_cards{

    display: flex;
    justify-content: space-between;
    background: #69341D;
    border-radius: 41px;
    padding: 60px 97px;
    flex-direction: row;
    gap: 0;

}
.exibicao_cards{
    max-width: 453px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_card{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.caixa_vars{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-between;
    top: 4%;
    right: 9px;
    height: 75px;
    align-items: center;
}
.caixa_texto{
    color: white;
    width: 54%;
    text-align: center;
    font-family: 'Odor Mean Chey', serif;
    margin: auto;
    font-size: 41px;
}
.caixa_background{
    width: 100%;
}
.caixa_icone{
    width: 49px;
    height: 49px;
    padding-left: 16px;
}
.descricao_card{
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    text-align: end;
    background-color: #703921;
    padding: 26px;
    border-radius: 52px 0px 52px 0px;
    width: 78%;
    box-shadow: 7px 7px 6px #977373;
}
.subtitulo_central{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
.texto_sub{
    color: black;
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
  .sub2::after{
    content: "";
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4px;
    background-color: var(--cor-destaque);
    margin-top: -5px;
    border-radius: 50px;
    align-items: center;
  }
  
  .sub2::before{
    content: "";
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4px;
    background-color: var(--cor-destaque);
    margin-bottom: -2px;
    border-radius: 50px;
    align-items: center;
}

.container_btn_colmeia{
    display: none;
}
.border{
    border: 4px solid white;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: #480d81;
}
.btn_front{
    position: absolute;
    width: 29%;
    bottom: 68%;
    left: 50%;
    transform: translatex(-50%);
}
.back_circle{
    /* margin-top: 20px; */
    width: 11%;
    left: 50%;
    top: 10%;
    transform: translatex(-50%);
    position: absolute;
}
.btn_active{
    animation: top 1s forwards;

}
.btn_desactive{
    animation: bottom 1s forwards;
}
@keyframes top {
    0%{
        display: block;
    }
    50%{
        
        opacity: 0;
        display: none;
    }
    100%{
        display: none;
    }
}
@keyframes bottom {
    0%{
        display: none;
        opacity: 0;
    }
    50%{
        /* bottom: -12px; */
        
        display: none;
    }
    100%{
        opacity: 1;
        display: block;
    }
}
@media screen and (max-width:1200px) {
    .tecnologias_cards{
        padding: 35px;
    }

    
}

@media screen and (max-width:960px) {
    /* .tecnologias_cards{
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    } */
    .container_card {
        width: 100%;

    }
    .exibicao_cards{
        margin-top: 30px;
        max-width: 350px;
        display: none;
    }
    .descricao_card{
        display: none;
    }
    .caixa_vars{
        height: 60px;
    }
    .caixa_texto{
        font-size: 32px;
    }
    .caixa_icone{
        width: 35px;
        height: 35px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 600px) {
    .container_btn_colmeia{
        width: 25%;
        left: 50%;
        margin: 0   auto;
        display: block;
        height: 212px;
    }
    .tecnologias_cards{
        gap: 17px;
        flex-direction: column;
        padding-top: 65px;
        padding: 65px 0 0 0;
        height: 886px;
        overflow: hidden ;
    }
    .container_front{
        left: -440px;
    }

}

@media screen and (max-width: 500px) {
    .tecnologias_cards{
        gap: 11px;
        height: 782px;

    }
    .border{
        height: 180px;
    }
    .btn_front{
        bottom: 68%;
    }
}
@media screen and (max-width: 450px) {
    .tecnologias_cards{
        gap: 16px;
    }
    .border{
        height: 160px;
    }
    .btn_front{
        bottom: 69%;
    }
}
@media screen and (max-width: 380px) {
    .tecnologias_cards{
        gap: 16px;
        height: 657px;
    }
    .border{
        height: 140px;
    }
}