.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .container_projetos{
    background: rgb(215,167,247);
background: linear-gradient(90deg, rgba(215,167,247,1) 0%, rgba(251,168,168,1) 45%, rgba(254,252,190,1) 100%);
  padding:130px 0;
  }
  .destaque_projetos{
    margin: auto;
    max-width: 100%;
    background-color: #ffffff59;
    padding: 45px 24px;
  }
.content_projetos{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.subtitulo_central{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.texto_sub{
  color: black;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.sub2::after{
  content: "";
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4px;
  background-color: var(--cor-destaque);
  margin-top: -5px;
  border-radius: 50px;
  align-items: center;
}

.sub2::before{
  content: "";
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4px;
  background-color: var(--cor-destaque);
  margin-bottom: -2px;
  border-radius: 50px;
  align-items: center;
}